@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --border-color: rgba(255, 255, 255, 0.8)
}

body {
    display: flex;
    color: whitesmoke;
    background-color: var(--bg-primary);
    place-items: center;
    margin: 0;
    padding: 0;
    
}

* {
    box-sizing: border-box;
}

h1, h2, h3, a, span {
    place-items: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 40px;
}
article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    font-weight: 400;
    font-size: 30px;
    margin-left: 20rem;
    margin-right: 20rem;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;   
    align-items: center;
    z-index: 3;
    margin-top: 5rem;
    padding: 1rem;
}

nav {
    display: flex;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid var(--border-color);
}

nav > .nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-content: center;
    justify-content: center;
}

#nav-logo-section,
#nav-link-section {
    flex-basis: calc(100% / 3);
}

#nav-social-section,
#nav-contact-section {
    flex-grow: 1;
}

#nav-logo-section {
    
    justify-content: flex-start;
}

#nav-logo-section > a > i {
    font-size: 2.5rem;
}

#nav-social-section > a > i {
    font-size: 1.5rem;
}

#nav-link-section {
    gap: 6rem;
}

#nav-social-section {
    
    gap: 3rem;
}

.nav-hidden {
    transform: translateY(-5rem);
}

h1 {
    text-align: center;
    font-size: clamp(3rem, 10vw, 10rem);
    padding: 0 clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    font-family: "Space Mono", monospace;
}

h1:hover {
    background-color: white;
    color: black;
}